body {
    background: white; /* try type yellow */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#parcontainer {
    width: 500px;
    height: 750px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#containerone {
    width: 500px;
    height: 650px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
}

#containertwo {
    width: 500px;
    height: 250px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    text-align: center;
    line-height: 100px;
}

#containerthree {
    width: 500px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    text-align: center;
    line-height: 100px;
}
.phase {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

button {
    margin-top: 5%;
    line-height: 60px;
    font-weight: bold;
    padding: 0 30px;
    border: none;
    border-radius: 25px;
}

#myCanvas { 
    background:white;
    border:1px solid white; 
}

.button2 {
    background-color: #f5eded;
    padding: 0 20px;
    line-height: 30px;
    margin-left: 70%;
    margin-top: 10%
}

.imgcontainer {
    color: white;
    width: 1100px;
    height: 450px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    text-align: center;
    line-height: 100px;
}

.centeredwin {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

.centerednwin {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.chanceOut {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.reminder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.reminder2 {
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: black;
}

.reminder3 {
    position: absolute;
    top: 60%;
    left: 34%;
    transform: translate(-50%, -50%);
    color: black;
}

.notSee {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}